<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.example.udp_tcp_demo"
      android:versionCode="2"
      android:versionName="2.02">
      
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<!-- 	<uses-permission android:name="android.permission.NET_ADMIN" /> -->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />	
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CALL_PHONE" 
	    />
	<uses-sdk android:minSdkVersion="8"></uses-sdk>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	
    <application 
        android:icon="@drawable/img_app_logo_smartconfig" 
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
<!--         android:theme="@android:style/Animation" -->

		<activity android:name="com.example.tcpdemo.WelcomeActivity" >
              <intent-filter>  
	                <action android:name="android.intent.action.MAIN" />  
	                <category android:name="android.intent.category.LAUNCHER" />  
	            </intent-filter>  
        </activity>

        <activity android:name="com.example.tcpdemo.DeviceListActivity" >
        </activity>
        
        <activity android:name="com.example.tcpdemo.AboutUsActivity" >
        </activity>
        
        <activity 
            android:name="com.example.tcpdemo.EditM30Paramter" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"> 
            </activity>
        <activity android:name="com.example.tcpdemo.M30ListItemDetail" android:screenOrientation="portrait"> </activity>
		<activity android:name="com.example.tcpdemo.WifiAdmin" android:screenOrientation="portrait"> </activity>
        <activity android:name="mediatek.android.IoTManager.SmartConnection"  
            android:configChanges="orientation"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
            
        <activity
            android:name="com.example.tcpdemo.SmartLinkActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden">
        </activity>
        
        <activity android:name="mediatek.android.IoTManager.IoTManager" 
            android:label="@string/app_name_ver" android:configChanges="orientation">
			
		</activity>
        <activity android:name="mediatek.android.IoTManager.IoTManagement"  
		          android:configChanges="orientation"
		          android:windowSoftInputMode="adjustPan">
		</activity>
		
        <activity
            android:name="com.example.tcpdemo.ControlDeviceActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden">
        </activity>		
        <activity
            android:name="com.example.tcpdemo.CreateCommandActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden">
        </activity>		
        
		
        <!-- 监听设备状态服务 -->
        <service
            android:name="com.example.tcpdemo.service.ControlService"></service>
        
        
        <meta-data android:value="5a1d3961f29d98164c00004d" android:name="UMENG_APPKEY"/>
		<meta-data android:value="Channel ID" android:name="UMENG_CHANNEL"/>
        
        
    </application>

</manifest> 