<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sanetel.control">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SatelliteParametersActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activities.MonitorInfoActivity"
            android:label="@string/title_activity_monitor_info" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login">
            <!--intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter-->
        </activity>
        <activity
            android:name=".activities.CommunicationSettingsActivity"
            android:label="@string/title_activity_communication_settings"
            android:theme="@style/AppTheme" />

        <service
            android:name=".server.ReceiveMessageService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.sanetel.control.server.ReceiveMessageService" />
            </intent-filter>
        </service>

        <activity
            android:name=".WelcomeActivitiy"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_welcome_activitiy"
            android:theme="@style/FullscreenTheme">
            <!--intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter-->
        </activity>

        <!--android:theme="@style/ThemeSplash"-->
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>