<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.edroplet.sanetel">

    <!--7.0后静态注册广播需要权限了-->
    <permission android:name="com.edroplet.sanetel.services.communicate.CommunicateDataReceiver"
        android:protectionLevel="normal"/>
    <uses-permission android:name="com.edroplet.sanetel.services.communicate.CommunicateDataReceiver"/>
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 相册和文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 发送邮件 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- wifi -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取WIFI信息状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取网络状态改变的权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 网络状态改变的权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <!-- android中隐藏与显示软键盘以及不自动弹出键盘的方法 -->
    <!-- android:windowSoftInputMode="stateHidden" -->
    <!-- 改变WiFi多播状态 -->
    <!-- 被tools:replace="android:allowBackup"替换 -->
    <application xmlns:tools="http://schemas.android.com/tools"
        android:name=".DropletBaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:icon, android:theme">
        <meta-data
            android:name="skip_cancel"
            android:value="false" />
        <meta-data
            android:name="SANETEL_CHANNEL"
            android:value="${SANETEL_CHANNEL_VALUE}" />

        <activity
            android:name=".IntroActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.guide.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_welcome_activity"
            android:theme="@style/FullscreenTheme" />

        <!-- android:theme="@style/ThemeSplash" -->
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppStartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.functions.ManualActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_manual"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.guide.GuideEntryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/guide_main_enter"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.functions.FunctionsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_application"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.settings.SatelliteListActivity"
            android:label="@string/satellite_toolbar_title"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.settings.PowerAmplifierSettingsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/main_settings_amplifier"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.settings.SatelliteDetailActivity"
            android:label="@string/title_satellite_detail"
            android:parentActivityName=".activities.settings.SatelliteListActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edroplet.sanetel.activities.settings.SatelliteListActivity" />
        </activity>
        <activity
            android:name=".activities.guide.GuideActivity"
            android:label="@string/title_activity_follow_me"
            android:parentActivityName=".activities.guide.GuideEntryActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.main.MainActivity"
            android:label="@string/title_activity_main"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.main.MainMeLanguageActivity"
            android:label="@string/title_activity_main_me_language"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.main.MainMeAboutActivity"
            android:label="@string/main_me_about_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.main.MainMeAdviceActivity"
            android:label="@string/main_me_advice_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.main.MainMeAppActivity"
            android:label="@string/main_me_app_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.main.MainMeErrorReportActivity"
            android:label="@string/main_me_error_report_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 图片选择 -->
        <activity
            android:name="com.yongchun.library.view.ImageSelectorActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yongchun.library.view.ImagePreviewActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yongchun.library.view.ImageCropActivity"
            android:windowSoftInputMode="stateHidden" />
        <!-- 文件选择 -->
        <activity
            android:name="com.ssa.afilechooser.FileChooserActivity2"
            android:exported="false"
            android:icon="@drawable/ic_chooser"
            android:label="@string/choose_file"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <!-- Important FileChooserActivity must have android:exported="true" and have the <intent-filter> set as follows: -->
        <!-- If you want to use the Storage Access Framework (API 19+), -->
        <provider
            android:name=".utils.LocalStorageProvider"
            android:authorities="com.ianhanniballake.localstorage.documents"
            android:enabled="@bool/use_provider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <activity
            android:name=".activities.settings.CityLocationListActivity"
            android:label="@string/title_city_location_list"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.settings.CityLocationDetailActivity"
            android:label="@string/title_citylocation_detail"
            android:parentActivityName=".activities.settings.CityLocationListActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edroplet.sanetel.activities.settings.CityLocationListActivity" />
        </activity>
        <activity
            android:name=".activities.guide.GuideExplodeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.guide.GuideLocationActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.functions.MonitorHelpActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.settings.AdministratorLoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.main.MainWifiSettingHelpActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.functions.FunctionsCollectHistoryFileListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.settings.NewCityActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.settings.NewSatelliteActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.settings.ReferenceSatelliteActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.settings.LowNoiseBlockOscillatorActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.settings.AntennaRestartActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.settings.SettingsPowerAmplifierEmitHelpActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.administrator.AdministratorActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.administrator.AdministratorSettingsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.main.MainMeAboutBrowserActivity"
            android:windowSoftInputMode="stateHidden" />

        <!-- 服务 -->
        <!-- 下载服务 -->
        <service android:name=".services.DownLoadService" />

        <!--
        activity android:name="com.will.ireader.IReaderMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.will.ireader.page.PageActivity" />
        <activity android:name="com.will.ireader.chapter.ChapterActivity" /
        -->
        <activity android:name=".activities.functions.ReaderTextActivity" />

        <receiver android:name=".services.communicate.CommunicateDataReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="com.edroplet.sanetel.data.KEEP_ALIVE"/>
                <action android:name="com.edroplet.sanetel.data.RECEIVE_DATA"/>
                <action android:name="com.edroplet.sanetel.data.SAVE_FILE"/>
                <action android:name="com.edroplet.sanetel.data.STOP_SAVE"/>
                <action android:name="com.edroplet.sanetel.data.SEND_DATA"/>
            </intent-filter>
        </receiver>
        <service
            android:name=".services.CommunicateWithDeviceService"
            android:enabled="true"
            android:exported="false"/>
        <!--android:process=":communicate"-->
        <service
            android:name=".services.communicate.CommunicateService"
            android:exported="false"/>
        <service android:name=".services.communicate.CommunicateService$CommunicateInnerService"
            android:enabled="true"
            android:exported="false"/>
        <service android:name=".services.communicate.CommunicateDataReceiver$ReceiveInnerService"
            android:enabled="true"
            android:exported="false"/>
        <service android:name=".services.communicate.CommunicateDataReceiver$ReceiveNotifyService"
            android:enabled="true"
            android:exported="false"/>
    </application>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BIND_SCREENING_SERVICE"/>
</manifest>